<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动漫</title>
    <style>
        html,
        body {
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            background-color: #cccccc;
            max-width: 640px;
            margin: 0 auto;
            position: relative;
            color: #212121;
        }

        img{
            width: 100%;
        }
    </style>
</head>

<body>

    <%for(let i=0;i<list.length;i++){%>
        <img src="<%=list[i]%>"></img>
        <%}%>
</body>

</html>